body {
    margin: 0;
}

#content {
    height: Calc(100vh - 215px);
    overflow-y: auto;
    overflow-x: hidden;
}

#handInput {
    width: 500px;
}

#handWrapper {
    background-color: rgba(0,0,100,0.1);
    width: 100%;
    padding: 10px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer > div, header, #hand {
    padding: 10px;
}

.group {
    display: inline-block;
    margin-right: 30px;
}

.tilted {
    transform: rotate(90deg) translateX(-100%);
    transform-origin: bottom left;
}

.kan-tilt {
    display: inline-block;
}

#show {
    font-family: 'Trykker', serif;
}

#show #hand {
    padding: 0;
    margin-top: 10px;
    margin-left: 25px;
}

#titre {
    margin: 0;
    color: darkblue;
    font-size: 1.20em;
    display: inline-block;
}

#closed {
    margin: 0;
    font-style: italic;
    font-size: 0.75em;
    color: #AAAAAA;
    display: inline-block;
}


