body {
    margin: 0;
}

#handWrapper {
    background-color: rgba(0,0,100,0.1);
    width: 100%;
    padding: 10px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer > div, header, #hand {
    padding: 10px;
}

.group {
    display: inline-block;
    margin-right: 30px;
}

.tilted {
    transform: rotate(90deg) translateX(-100%);
    transform-origin: bottom left;
}

.kan-tilt {
    display: inline-block;
}
