.tile-container {
  position: relative;
}

.tile {
  position: absolute;
}

.tile-image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  transform: rotate(90deg) translate(-133%, 0%);
  transform-origin: bottom left;
}

.left {
  transform: rotate(-90deg) translate(133%, 25%);
  transform-origin: bottom right;
}
