<div class="switches" [formGroup]="parentGroup">
  <div class="switch-field"><bmj-switch-button formControlName="firstTurn"></bmj-switch-button><label>Premier tour</label></div>
  <div class="switch-field"><bmj-switch-button formControlName="lastTile"></bmj-switch-button><label>Dernière tuile</label></div>
  <div class="switch-field"><bmj-switch-button formControlName="riichi"></bmj-switch-button><label>Riichi</label></div>
  <div class="switch-field"><bmj-switch-button formControlName="daburuRiichi"></bmj-switch-button><label>Daburu Riichi</label></div>
  <div class="switch-field"><bmj-switch-button formControlName="riichiDeclarationTurn"></bmj-switch-button><label>Tour de déclaration du Riichi</label></div>
</div>
